<ul>
  <% if Admin::TownStoryArticlesController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => { :url => admin_town_story_articles_path } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_admin_town_story_article_path, :class => "add_icon" %>
  </li>
</ul>