# Mac
.DS_Store

# Windows
Thumbs.db

# NetBeans
nbproject

# Eclipse
.project

# Redcar
.redcar

# Rubinius
*.rbc

# Vim
*.swp
*.swo

# RubyMine
.idea

# E-texteditor
.eprj

# Backup
*~

# Capybara Bug
capybara-*html

#rvm
.rvmrc
.rvmrc.*
/Gemfile.lock
/spec/test_config.rb
/spec/dummy/tmp
/spec/dummy/log
.settings
/tmp
