<% content_for :body_content_left do %>
  <ul id="town_stories">
    <% @town_stories.each do |town_story| %>
      <li>
        <%= link_to town_story.dummy, town_story_path(town_story) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
