<ul>
  <% if ::Refinery::TownStoryArticles::Admin::TownStoryArticlesController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.town_story_articles_admin_town_story_articles_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_town_story_articles_admin_town_story_article_path,
                 :class => "add_icon" %>
  </li>
</ul>
